################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XamarinTestApp/FileContentIndex/ee16600c-b0cf-447a-9df1-55e789a0265d.vsidx
/.vs/XamarinTestApp/FileContentIndex/2f5a7ed6-feb6-4e35-bff4-d1a9f4b3971b.vsidx
/.vs/XamarinTestApp/FileContentIndex/27da5385-69df-4225-80b7-9d0e4de6ecde.vsidx
/.vs/XamarinTestApp/FileContentIndex/06688d2a-a67b-40ad-8d0f-358cf45b1a28.vsidx
