################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XamarinTestApp/FileContentIndex/ee16600c-b0cf-447a-9df1-55e789a0265d.vsidx
